
<div class="box-fixed-right" id="details">
  <div class="box well">
    <div class="match-teams">
      <div class="team1"><%= @match.team1.name ? @match.team1.name : @match.team1.code %></div>
      <div class="versus">×</div>
      <div class="team2"><%= @match.team2.name ? @match.team2.name : @match.team2.code %></div>
    </div>
    <div class="match-details">
      <p>Date: <%= @match.date_and_time %></p>
      <p>City: <%= @match.city.name %></p>
      <p>Place: <%= @match.city.stadium %> (<%= @match.city.stadium_alternative %>)</p>
      <p>Stage: <%= @match.stage.name %></p>
    </div>
  </div>

  <div class="match-map">
    <div id="match_map"></div>
    <div class="match-map-buttons">
      <div class="box well">
        <%= link_to '<i class="icon-map-marker"></i> Open in Google Maps'.html_safe, "" %>
      </div>
      <div class="box well">
        <%= link_to '<i class="icon-road"></i> Get directions'.html_safe, "" %>
      </div>
    </div>
  </div>

  <div>
    <hr>
    <div class="match-extras">
      <%= link_to image_tag('twitter.png', class: "match-extras-share-button"), "http://twitter.com/home?status=#{root_url}#match_#{@match.id}" %>
      <%= link_to image_tag('facebook.png', class: "match-extras-share-button"), "https://www.facebook.com/sharer/sharer.php?u=#{root_url}#match_#{@match.id}" %>
      <%= link_to image_tag('gplus.png', class: "match-extras-share-button"), "https://plus.google.com/share?url=#{root_url}#match_#{@match.id}" %>
      <%= link_to image_tag('expander.png', class: "match-extras-details-button"), "#" %>
    </div>
  </div>
</div>
