
<div id="details">
  <span class="game-teams">
    <span class="team1"><%= @game.team1.team %></span>
    <span>×</span>
    <span class="team2"><%= @game.team2.team %></span>
  </span>
  <div class="game-details">
    <p>Date: <%= @game.date_and_time %></p>
    <p>City: <%= @game.city.city %></p>
    <p>Place: <%= @game.stage.stage %></p>
  </div>
  <hr>
  <div class="game-extras">
    <%= link_to image_tag('twitter.png', :class => "share-button"), "http://twitter.com/home?status=#{static_pages_home_url}#game_#{@game.id}" %>
    <%= link_to image_tag('facebook.png', :class => "share-button"), "https://www.facebook.com/sharer/sharer.php?u=#{static_pages_home_url}#game_#{@game.id}" %>
    <%= link_to image_tag('gplus.png', :class => "share-button"), "https://plus.google.com/share?url=#{static_pages_home_url}#game_#{@game.id}" %>
    <%= link_to image_tag('expander.png', :class => "game-button"), "#" %>
  </div>
</div>

