
<div class="row">
  <div class="span4">
    <div class="games">
      <% @games.each do |game| %>
        <div class="content white-box game-box">
          <span class="game-teams">
            <span class="team1"><%= game.team1.team %></span>
            <span>×</span>
            <span class="team2"><%= game.team2.team %></span>
          </span>
          <div class="game-details">
            <p>Date: <%= game.date_and_time %></p>
            <p>City: <%= game.city.city %></p>
            <p>Place: <%= game.stage.stage %></p>
          </div>
          <hr>
          <div class="game-extras">
            <%= link_to image_tag('twitter.png', :class => "share-button"), "#" %>
            <%= link_to image_tag('facebook.png', :class => "share-button"), "#"  %>
            <%= link_to image_tag('gplus.png', :class => "share-button"), "#"  %>
            <%= link_to image_tag('expander.png', :class => "game-button"), action: "details", id: game.id, remote: true %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="span7 offset1">
    <div class="content white-box game-box">
      <div id="details">
        <div class="welcome-title">
          Welcome to É Gol!
        </div>
        <div class="welcome-content">
          Here you'll be able to get through the World Cup knowing when, where,
          how and what is happening, so you easily manage and share the biggest
          matches ...
        </div>
      </div>
    </div>
  </div>
</div>

