
<div class="container-absolute-left">
  <% @matches.each do |match| %>
    <div class="box box-match">
      <div class="match-teams">
        <div class="team1"><%= match.team1.name ? match.team1.name : match.team1.code %></div>
        <div class="versus">×</div>
        <div class="team2"><%= match.team2.name ? match.team2.name : match.team2.code %></div>
      </div>
      <div class="match-details">
        <p>Date: <%= match.date_and_time %></p>
        <p>City: <%= match.city.name %></p>
        <p>Place: <%= match.city.stadium %></p>
        <p>Stage: <%= match.stage.name %></p>
      </div>
      <hr>
      <div class="match-buttons">
        <% message = "Hey, I'll be at #{match.city.stadium} in #{match.city.name} to watch the #{match.team1.name ? match.team1.name : match.team1.code} × #{match.team2.name ? match.team2.name : match.team2.code} match!" %>
        <% url = "#{root_url}#match_#{match.id}" %>
        <%= link_to image_tag('twitter.png', class: "match-button-share"), "http://twitter.com/intent/tweet?text=#{message}&url=#{url}", :target => "_blank" %>
        <%= link_to image_tag('facebook.png', class: "match-button-share"), "https://www.facebook.com/sharer/sharer.php?t=#{message}&u=#{url}", :target => "_blank" %>
        <%= link_to image_tag('gplus.png', class: "match-button-share"), "https://plus.google.com/share?url=#{url}", :target => "_blank" %>
        <%= link_to image_tag('expander.png', class: "match-button-expander", id: "match_#{match.id + 1}"), match_path(id: match.id) %>
      </div>
    </div>
  <% end %>
</div>

<div class="container-fixed-right" id="match_content" >
  <div class="box">
    <div class="box-content">
      <div class="welcome">
        <div class="title">Welcome to <span class="brand">É Gol</span> !</div>
        Here you'll be able to get through the World Cup knowing when, where,
        how and what is happening!
        <br /><br />
        <ul>
          <li>Easily share the matches you'll be watching.</li>
          <li>Sign up and post your own comments. Cheer for your team!</li>
          <li>Create your profile and mark your favorite matches.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(window).on('load resize', function() {
    $('.container-fixed-right').height($(this).height() - 76);
    map.resize();
  });
  $('.match-button-expander').click(function() {
    $.ajax({
      url: $(this).parent().attr('href'),
      success: function(html) {
        $('#match_content').html(html);
        $('.box-fixed-right').height($(window).height() - 76);
      }
    });
    return false;
  });
</script>
