
<div class="box-left-fixed">
  <% @matches.each do |match| %>
    <div id="match_<%= match.id %>" class="matches">
      <div class="box box-content well match-box">
        <div class="match-teams">
          <span class="team1"><%= match.team1.name ? match.team1.name : match.team1.code %></span>
          <span class="versus">×</span>
          <span class="team2"><%= match.team2.name ? match.team2.name : match.team2.code %></span>
        </div>
        <div class="match-details">
          <p>Date: <%= match.date_and_time %></p>
          <p>City: <%= match.city.name %></p>
          <p>Place: <%= match.city.stadium %></p>
          <p>Stage: <%= match.stage.name %></p>
        </div>
        <hr>
        <div class="match-extras">
          <%= link_to image_tag('twitter.png', class: "share-button"), "http://twitter.com/home?status=#{static_pages_home_url}#match_#{match.id}" %>
          <%= link_to image_tag('facebook.png', class: "share-button"), "https://www.facebook.com/sharer/sharer.php?u=#{static_pages_home_url}#match_#{match.id}" %>
          <%= link_to image_tag('gplus.png', class: "share-button"), "https://plus.google.com/share?url=#{static_pages_home_url}#match_#{match.id}" %>
          <%= link_to image_tag('expander.png', class: "match-button"), { action: "details", id: match.id }, id: "match_#{match.id}_details", remote: true %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<div id="details" class="box-right-fixed">

  <div class="box well">
    <div class="box-content">
      <div class="title">Welcome to É Gol!</div>
      <div class="welcome-content">
        Here you'll be able to get through the World Cup knowing when, where,
        how and what is happening, so you easily manage and share the biggest
        matches ...
        .................................. .................. .................... ................... ................. ................ ........................... .................... ................... ................... ................ ................ ................. .................. .............. ................. .................. ................ .................. ............... ................. .............. .................................. .................. .................... ................... ................. ................ ........................... .................... ................... ................... ................ ................ ................. .................. .............. ................. .................. ................ .................. ............... ................. ..............
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  $(window).on('load resize', function(){
    $('.box-right-fixed').height($(this).height() - 170);
  });
</script>
