
<div class="box-fixed-left matches">
  <% @matches.each do |match| %>
    <div class="box well" id="match_<%= match.id %>">
      <div class="match-teams">
        <div class="team1"><%= match.team1.name ? match.team1.name : match.team1.code %></div>
        <div class="versus">×</div>
        <div class="team2"><%= match.team2.name ? match.team2.name : match.team2.code %></div>
      </div>
      <div class="match-details">
        <p>Date: <%= match.date_and_time %></p>
        <p>City: <%= match.city.name %></p>
        <p>Place: <%= match.city.stadium %></p>
        <p>Stage: <%= match.stage.name %></p>
      </div>
      <hr>
      <div class="match-extras">
        <%= link_to image_tag('twitter.png', class: "match-extras-share-button"), "http://twitter.com/home?status=#{root_url}#match_#{match.id}" %>
        <%= link_to image_tag('facebook.png', class: "match-extras-share-button"), "https://www.facebook.com/sharer/sharer.php?u=#{root_url}#match_#{match.id}" %>
        <%= link_to image_tag('gplus.png', class: "match-extras-share-button"), "https://plus.google.com/share?url=#{root_url}#match_#{match.id}" %>
        <%= link_to image_tag('expander.png', class: "match-extras-details-button"), details_path(id: match.id), id: "match_#{match.id}_details" %>
      </div>
    </div>
  <% end %>
</div>

<div class="box-fixed-right" id="details" >
  <div class="box well">
    <div class="box-content">
      <div class="title">Welcome to É Gol!</div>
      <div class="welcome-content">
        Here you'll be able to get through the World Cup knowing when, where,
        how and what is happening, so you easily manage and share the biggest
        matches ...
        .................................. .................. .................... ................... ................. ................ ........................... .................... ................... ................... ................ ................ ................. .................. .............. ................. .................. ................ .................. ............... ................. .............. .................................. .................. .................... ................... ................. ................ ........................... .................... ................... ................... ................ ................ ................. .................. .............. ................. .................. ................ .................. ............... ................. ..............
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(window).on('load resize', function() {
    $('.box-fixed-left').height($(this).height() - 76);
    $('.box-fixed-right').height($(this).height() - 76);
    map.resize();
  });
  $('.matches').on('click', '.match-extras-details-button', function() {
    $.ajax({
      url: $(this).parent().attr('href'),
      success: function(html) {
        $('#details').replaceWith(html);
        $('.box-fixed-right').height($(window).height() - 76);
      }
    });
    return false;
  });
</script>
