
<div class="box box-back">
  <%= link_to image_tag('expander-left-inv.png'), :back %>
</div>

<div class="container-absolute-left">
  <% if signed_in? %>
    <div class="box-comment-form">
      <%= form_for(@comment) do |f| %>
        <%= f.text_area :content, placeholder: "Compose your message..." %>
        <%= hidden_field :comment, :match_id, value: @match.id %>
        <%= f.submit "Post", class: "btn btn-primary comment-submit" %>
      <% end %>
    </div>
  <% elsif @comments.empty? %>
    <div class="title">
      Be the first to leave a comment.
      <br /><br />
      <%= link_to 'Sign up now!', signup_path %>
    </div>
  <% end %>
  <div class="box-comments">
    <%= render partial: 'comments/comment', collection: @comments %>
  </div>
</div>

<div class="container-fixed-right" id="match_content" >
  <%= render "match_brief", id: @match.id %>
</div>

<script type="text/javascript">
  $(window).on('load resize', function() {
    $('.match-map-google').height($(this).height() - 375);
    map.panTo(marker.getPosition());
  });
  $('#new_comment').submit(function() {
    $.ajax({
      url: $(this).attr('action'),
      data: $(this).serialize(),
      type: 'post',
      success: function(html) {
        $('.box-comments').html(html);
        $('#comment_content').val('');
      }
    });
    return false;
  });
</script>