
<div class="box-left">
  <div class="well white-box game-box">
    <div class="title">
      New here?
    </div>
    <div class="box-content">
      <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-warning" %>
    </div>
  </div>
</div>

<div class="box-right">
  <div class="well white-box game-box">
    <div class="title">
      Sign in
    </div>
    <div class="box-content">
      <%= form_for(:session, url: sessions_path) do |f| %>
        <%= f.text_field :email, :class => "input-xlarge", placeholder: "Email" %>
        <%= f.password_field :password, :class => "input-xlarge", placeholder: "Password" %>
        <%= f.submit "Sign in", class: "btn btn-primary" %>
      <% end %>
    </div>
    <% if notice %>
      <div class="alert alert-error"><%= notice %></div>
    <% end %>
  </div>
</div>
