<%= form_for(@user, :html => { :class => "form-horizontal" }) do |f| %>

  <div class="control-group">
    <%= f.label :name, "Name:", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name, :class => "input-xlarge" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, "Email:", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :email, :class => "input-xlarge" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, "Password:", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :password, :type => "password", :class => "input-xlarge" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, "Confirm your password:", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :password_confirmation, :type => "password", :class => "input-xlarge" %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Submit</button>
      <%= link_to '<button type="button" class="btn">Cancel</button>'.html_safe, :back %>
    </div>
  </div>
<% end %>

