<h1>Listing users</h1>

<br />

<%= link_to 'New User', new_user_path, class: "btn btn-small" %>

<br />
<br />

<table class="table table-striped table-bordered table-condensed" >
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', user, class: "btn btn-small" %>
        <%= link_to 'Edit', edit_user_path(user), class: "btn btn-small" %>
        <%= link_to 'Destroy', user, method: :delete, class: "btn btn-small", data: { confirm: 'Are you sure? (All favorites and comments created by this user will also be deleted.)' } %></td>
  </tr>
<% end %>
</table>
