<div>
  Users »
</div>

<br />

<% @users.each do |user| %>
  <div class="well white-box">
    <div class="media">
      <div class="pull-left">
      <%= link_to image_tag('placeholder-100x100.gif'), user, :class => "pull-left media-object" %><br />
      <%= link_to 'Edit', edit_user_path(user) %><br />
      <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <div class="media-body">
        <h4><%= link_to user.name, user %></h4>
        <ul class="unstyled">
          <li><b>Email:</b> <%= user.email %></li>
          <li><b>Password:</b> <%= user.password_digest %></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
