
<div class="box box-left well">
  <div class="box-content">
    <div class="title"><%= @user.name %></div>
    <%= link_to image_tag('http://placehold.it/300x300&text=PHOTO'), edit_user_path(@user) %>
  </div>
</div>

<div class="box box-right well">
  <div class="box-details">
    <% if !notice.nil? %>
      <div class="alert alert-success">
        <%= notice %>
      </div>
    <% end %>
    <ul class="unstyled">
      <h5 class="nav-header">Credentials</h5>
      <li><b>Name:</b> <%= @user.name %></li>
      <li><b>Email:</b> <%= @user.email %></li>
      <h5 class="nav-header">Password</h5>
      <li><b>Password:</b> <%= @user.password_digest %></li>
      <h5 class="nav-header">Photos</h5>
      <li><b>...</b></li>
      <br />
      <%= link_to 'Edit details', edit_user_path(@user), class: "btn btn-small btn-success" %>
      <%= link_to 'Delete account', @user, method: :delete, class: "btn btn-small btn-danger", data: { confirm: 'Are you sure?' } %>
    </ul>
  </div>
</div>
