<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_and_time %><br />
    <%= f.text_field :date_and_time %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.collection_select :city_id, City.all, :id, :city %>
  </div>
  <div class="field">
    <%= f.label :team1 %><br />
    <%= f.collection_select :team1_id, Team.all, :id, :team %>
  </div>
  <div class="field">
    <%= f.label :team2 %><br />
    <%= f.collection_select :team2_id, Team.all, :id, :team %>
  </div>
  <div class="field">
    <%= f.label :score_team1 %><br />
    <%= f.text_field :score_team1 %>
  </div>
  <div class="field">
    <%= f.label :score_team2 %><br />
    <%= f.text_field :score_team2 %>
  </div>
  <div class="field" >
    <%= f.label :stage %><br />
    <%= f.collection_select :stage_id, Stage.all, :id, :stage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
