<p id="notice"><%= notice %></p>

<p>
  <b>City:</b>
  <%= @game.city %>
</p>

<p>
  <b>Stadium:</b>
  <%= @game.stadium %>
</p>

<p>
  <b>Group:</b>
  <%= @game.group %>
</p>

<p>
  <b>Team1:</b>
  <%= @game.team1 %>
</p>

<p>
  <b>Team2:</b>
  <%= @game.team2 %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
