<h1>Listing cities</h1>

<br />

<%= link_to 'New City', new_city_path, class: "btn btn-small" %>

<br />
<br />

<table class="table table-striped table-bordered table-condensed" >
  <tr>
    <th>City</th>
    <th>Stadium</th>
    <th>Stadium alternative</th>
    <th>Address</th>
    <th>Timezone</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Actions</th>
  </tr>

<% @cities.each do |city| %>
  <tr>
    <td><%= city.city %></td>
    <td><%= city.stadium %></td>
    <td><%= city.stadium_alternative %></td>
    <td><%= city.address %></td>
    <td><%= city.timezone %></td>
    <td><%= city.latitude %></td>
    <td><%= city.longitude %></td>
    <td><%= link_to 'Show', city, class: "btn btn-small" %>
        <%= link_to 'Edit', edit_city_path(city), class: "btn btn-small" %>
        <%= link_to 'Destroy', city, method: :delete, class: "btn btn-small", data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
