<hr>

<div class="row">
  <div class="span3 content white-box">
    <ul class="unstyled">
      <li><%= link_to "Games",  games_path,  :class => 'item' %></li>
      <li><%= link_to "Cities", cities_path, :class => 'item' %></li>
      <li><%= link_to "Teams",  teams_path,  :class => 'item' %></li>
      <li><%= link_to "Stages", stages_path, :class => 'item' %></li>
      <li><%= link_to "/m",     m_path,      :class => 'item' %></li>
    </ul>
  </div>
  <div class="span3 offset1 content white-box">
    <ul class="unstyled">
      <li><%= link_to "Games",  games_path,  :class => 'item' %></li>
      <li><%= link_to "Cities", cities_path, :class => 'item' %></li>
      <li><%= link_to "Teams",  teams_path,  :class => 'item' %></li>
      <li><%= link_to "Stages", stages_path, :class => 'item' %></li>
      <li><%= link_to "/m",     m_path,      :class => 'item' %></li>
    </ul>
  </div>
  <div class="span3 offset1 content white-box">
    <ul class="unstyled">
      <li><%= link_to "Games",  games_path,  :class => 'item' %></li>
      <li><%= link_to "Cities", cities_path, :class => 'item' %></li>
      <li><%= link_to "Teams",  teams_path,  :class => 'item' %></li>
      <li><%= link_to "Stages", stages_path, :class => 'item' %></li>
      <li><%= link_to "/m",     m_path,      :class => 'item' %></li>
    </ul>
  </div>
</div>
